## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,78.80,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,9,Basco,PH,78.89,few clouds,20.4487,121.9702,Nathaniel's Lodge
2,10,Georgetown,MY,86.00,few clouds,5.4112,100.3354,Cititel Penang
3,16,Lorengau,PG,79.72,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
4,25,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,Pension Maro'i
...,...,...,...,...,...,...,...,...
203,669,Ambulu,ID,77.65,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember
204,679,Pilar,BR,78.80,mist,-9.5972,-35.9567,Pousada e churrascaria Manguaba
205,681,Olinda,BR,82.40,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
206,683,Champerico,GT,84.20,clear sky,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
207,685,Garh Maharaja,PK,83.68,clear sky,30.8339,71.9053,Zaki Pansar Shop

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
locations

       Lat       Lng
0 -21.2000 -175.2000
1  20.4487  121.9702
2  -2.0226  147.2712
3 -23.1203 -134.9692
4 -21.2000 -175.2000

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Vaini']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Vaini']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Basco']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Lorengau'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Rikitea"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,25,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,Pension Maro'i

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Vaini= start
Vaini= end
Basco = stop1
Lorengau= stop2
Rikitea= stop3 
roadtrip = gmaps.directions_layer(Vaini,Vaini,waypoints=[Basco,Lorengau,Rikitea],travel_mode="DRIVING")

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3,
                         vacation_end]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,78.80,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,9,Basco,PH,78.89,few clouds,20.4487,121.9702,Nathaniel's Lodge
2,16,Lorengau,PG,79.72,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,25,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,Pension Maro'i
4,0,Vaini,TO,78.80,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
locations

       Lat       Lng
0 -21.2000 -175.2000
1  20.4487  121.9702
2  -2.0226  147.2712
3 -23.1203 -134.9692
4 -21.2000 -175.2000

In [15]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))